<!--<!DOCTYPE HTML>-->
<!--<html>-->
<!--<head>-->
<!--	<title>Secrets</title>-->
<!--</head>-->
<!--<body>-->
<!--	<div class="jumbotron">-->
<!--		<div class="container">-->
<!--			<h1>Welcome</h1>-->
<!--			<p>Are you ready to discover my secret?</p>-->
<!--	&lt;!&ndash;		<button class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login</button>&ndash;&gt;-->
<!--	&lt;!&ndash;		<a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login</a>&ndash;&gt;-->
<!--			<a class="btn btn-primary btn-lg" href="{{ url_for('login') }}"><button>Login</button></a>-->
<!--		</div>-->
<!--	</div>-->
<!--</body>-->
<!--</html>-->

<!--{# % extends 'base.html' % #}-->
{% extends 'bootstrap/base.html' %}

{% block title %}
	Secrets
{% endblock %}

{% block content %}
   	<div class="jumbotron">
		<div class="container">
			<h1>Welcome</h1>
			<p>Are you ready to discover my secret?</p>
			<a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login</a>
		</div>
	</div>
{% endblock %}
